# Project #
######################
node_modules
*.log
.nuxt
nuxt.d.ts
.output
.DS_Store
package-lock.json
dist
.env


# Custom #
######################
.cache/*
/.idea
/.vscode
secrets.json
.ruby-version
yarn.lock
*.orig
