/src                export-ignore
/node_modules       export-ignore
/.github            export-ignore
/.docker            export-ignore
/.cache             export-ignore
/.husky             export-ignore
/.storybook         export-ignore
/public             export-ignore
/feature-requests   export-ignore
/docs               export-ignore
/*.config.*         export-ignore
/*.ts               export-ignore
/*.js               export-ignore
/*.lock             export-ignore
/*.yaml             export-ignore
/*.yml              export-ignore
/*.md               export-ignore
/.env               export-ignore
/.env.sample        export-ignore
/.gitignore         export-ignore
/.gitattributes     export-ignore
/.eslint*           export-ignore
/.prettier*         export-ignore
/.editorconfig      export-ignore
/index.html         export-ignore
/package.json       export-ignore
/tsconfig*.json     export-ignore
/Makefile           export-ignore
