@mixin layout {
  @apply relative min-h-screen bg-white dark:bg-gray-800;
}

@mixin layout-sidebar {
  @apply w-10 md:w-14 lg:w-16 fixed h-screen z-50;
}

@mixin layout-head {
  @apply justify-between;
  @apply backdrop-blur-sm bg-gradient-to-b from-white/100 to-white/20 dark:from-gray-800/100 dark:to-gray-800/20;
  @apply absolute left-0 right-0 z-50;
  @apply h-9 sm:h-10 md:h-14;
  @apply px-2 md:px-4;
  @apply left-10 md:left-14 lg:left-16 right-0;

  html.navbar-fixed & {
    @apply fixed;
  }
}

@mixin layout-body {
  @apply flex flex-col flex-1 pt-10 md:pt-14;
  @apply absolute top-0 left-0 pl-10 md:pl-14 lg:pl-16 w-full h-full;
}

@mixin text-muted {
  @apply text-gray-600 dark:text-gray-400;
}

@mixin border-style {
  @apply border border-gray-300 dark:border-gray-500 divide-gray-300 dark:divide-gray-500;
}

@mixin text-responsive {
  @apply text-2xs sm:text-xs md:text-sm lg:text-base;
}

@mixin button {
  @apply px-1 sm:px-3 py-0.5 sm:py-1;
  @apply text-white text-2xs sm:text-xs;
  @apply transition-all duration-300;
  @apply rounded-sm;

  &[disabled] {
    @apply bg-gray-400 dark:bg-gray-700 opacity-40 text-gray-400 cursor-not-allowed;
  }
}

@mixin loading {
  position: absolute;
  display: inline-block;
  width: 80px;
  height: 80px;
  left: 50%;
  top: 50%;
  transform: translate(-40px, -40px);

  & div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: currentColor;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }

  div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }

  div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@mixin code-example {
  @apply text-white border bg-gray-800 p-2 border-gray-300 dark:border-gray-600;
}
